:root {
    --main-color:#262626;
    --main-transparent: rgba(38,38,38,.7);
    --light-gray:#404040;
    --lighter-gray:#444444;
    --main-darker: #222222;
    --shadow:#202020;
    --dark-gray:#161616;
    --darker-gray:#121212;
    
    --font-main:#DEDEDE;
    --font-dark:#C8C8C8;
    
    
}





/* Global----------------
*/

/* recolor */
.body {
    background-color: var(--main-color);
    font-family: Roboto,sans-serif;
    color: var(--font-main);
}

.theme-dark #page #page-main {
    background-color: var(--main-color);
}
.theme-dark #page #page-main .page-header .page-header-inner {
    background-color: var(--dark-gray);
    border: none;
}
.theme-dark .breadcrumb {
    background-color: var(--main-color);
    border: none;
}
.theme-dark #page #page-main .page-header .page-header-inner .actions .action {
    background-color: var(--main-color);
    border-color: var(--dark-gray);
}
.theme-dark #page #page-main .page-header .page-header-inner .actions .action.on {
    background-color: var(--light-gray);
}
.theme-dark #page #page-main .page-header .page-header-inner .actions .action.on:hover {
    background-color: var(--lighter-gray);
}

.theme-dark .errorFallback {
    background-color: var(--main-color);
    color: var(--font-main);
}
.theme-dark .errorFallback-message {
    color: var(--font-main);
    filter: grayscale(100%) brightness(1.36); /* colormatch the image cause for some reason it doesn't have transparent background */
}



.theme-dark#app {
    background-color: var(--main-color);
}

.theme-dark#app #app-header {
    background-color: var(--main-color);
    height: 0px;
}
#app #app-content {
    height: 100%;
}

.theme-dark .reaction {
    border-color: var(--shadow);
    background-color: var(--shadow);
    color: var(--font-main);
}
.theme-dark .reaction:hover:not(.no-border) {
    border-color: var(--light-gray);
}
.theme-dark .reaction .count {
    color: var(--font-main);
}
.theme-dark .reactions .reactions-expand .icon use {
    fill: var(--font-main);
}
.theme-dark .reaction-add .reaction .icon > use {
    fill: var(--font-main);
}

.theme-dark button.select {
    background-color: var(--main-darker);
    border-color: var(--dark-gray);
}
.theme-dark button.select.active {
    background-color: var(--light-gray);
    border-color: var(--dark-gray);
}
.theme-dark button.select:hover:not(.no-border) {
    border-color: var(--light-gray);
}
.theme-dark button.select.active:hover:not(.no-border) {
    border-color: var(--lighter-gray);
}



.nickname {
    font-family: Roboto,sans-serif;
    font-size: 1em;
}

.member-avatar .avatar {
    border-radius: 20px;
    border: none;
}
.message-item.highlighted .member-avatar .avatar {
    border: 1px solid;
}


.theme-dark .react-tooltip {
    background-color: var(--main-color) !important; 
}





/* SIDEBAR -----------------
*/
.theme-dark .c-sidebar-header {
    background-color: var(--dark-gray);
}

.theme-dark #sidebar{
    background-color: var(--dark-gray);
    padding-top: 5px;
}
.sidebar-list .sidebar-item {
    padding: 2px 8px;
}
.theme-dark .sidebar-list .sidebar-item.active {
    background-color: var(--light-gray);
}
.theme-dark .sidebar-list .sidebar-item:hover:not(.active) {
    background-color: var(--dark-gray);
}
.theme-dark .l-sidebar__body {
    background-color: var(--darker-gray);
}
.theme-dark .c-sidebar-navigation {
    background-color: var(--dark-gray);
}
.theme-dark .l-sidebar__footer {
    background-color: var(--dark-gray);
}
.theme-dark .c-sidebar-list-body::after {
    border: none;
}

.sidebar-list .sidebar-item > .column.drag-handle {
    left: 2px;
}
.theme-dark .sidebar-list .sidebar-item > .column.drag-handle > svg.icon {
    color: var(--font-main);
}


.theme-dark .l-sidebar__tooltip.type-dark {
    background-color: var(--main-color);
}
.theme-dark .l-sidebar__tooltip.place-right.l-sidebar__tooltip::after {
    border-right-color: var(--main-color);
}




/* QUICK ACCESS BAR */

aside.quick-access {
    margin: 0px;
}

.theme-dark .quick-access {
    background-color: var(--main-color);
    border: none;
}

.theme-dark .quick-access-header {
    background-color: var(--light-gray);
}
#app.theme-dark #app-content .quick-access .lobby-member-presences .search {
    background-color: var(--main-color);
}
#app.theme-dark #app-content .quick-access .lobby-member-presences {
    background-color: var(--dark-gray);
}

.theme-dark .search-panel .advanced-search {
    background-color: var(--main-color);
    border: none;
}
.theme-dark #search-results .results-list {
    background-color: var(--dark-gray);
    border: none;
}
.theme-dark #notifications .notifications-main .notifications-list, .theme-dark #notifications .notifications-main .notifications-list .notifications-item {
    background-color: var(--main-color);
}

.theme-dark .search-panel .quick-access-header-input input {
    background-color: var(--darker-gray);
}
.theme-dark .search-panel .quick-access-header-input button {
    background-color: var(--dark-gray);
}
.theme-dark .search-panel .quick-access-header-input button:hover {
    background-color: var(--main-color);
}


/* FORUMS  -----------------
*/


/* COMMUNITY PAGE */

.theme-dark #page-main .community-info {
    border: none;
}

.theme-dark #app-content > #page.community > #page-main .community-list {
    background-color: var(--main-color);
}
.theme-dark #app-content > #page.community > #page-main .community-list h3 {
    background-color: var(--light-gray);
}

.theme-dark  .messages-loading {
    background-color: var(--light-gray);
}


#app-content > #page.community > #page-main .community-list ul .community-item .community-item-content {
    margin: 5px 0px;
    padding: 0px 5px 2px 10px;
    background-color: var(--main-darker);
}
.theme-dark #app-content > #page.community > #page-main .community-list ul .community-item {
    border: none;
}


/* BOARD VIEW
*/


/* recolor */
.theme-dark .forum-label {
    background: var(--light-gray);
    color: var(--font-dark);
}
.theme-dark #page.forum-channel .row .column.subject .subject-content a.thread-subject {
    color: var(--font-main);
}
.theme-dark #page.forum-channel .row .column.subject .subject-media-preview {
    background-color: var(--main-color);
}




#page.forum-channel .channel-header {
    padding-bottom: 0px
}

#page.forum-channel .row.columns-header.sticky.active {
    visibility: hidden;
}
.theme-dark #page.forum-channel .row.columns-header {
    visibility: hidden;
}
.theme-dark #page.forum-channel .row.columns-header .column .btn.refresh {
    background-color: var(--light-gray);
    color: var(--font-main);
    visibility: visible !important;
    -webkit-transform: translateX(-64px) translateY(-106px);
    transform: translateX(-64px) translateY(-106px);
}

/* page bottom nagivator thing*/
.list-navigator {
    top: 0px;
    margin-bottom: 0px;
}

.list-navigator .bar {
    visibility: hidden;
    flex: unset;
    width: 45%;
}
.list-navigator .widgets .navigation .left-triangle {
    visibility: hidden;
}
.list-navigator .widgets .navigation .navigation-progress {
    order: 1;
}
.list-navigator .widgets .navigation .navigation-progress::before {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}
.list-navigator .widgets .navigation .navigation-progress .navigation-progress-bar::before {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}
.theme-dark .list-navigator .widgets .navigation .navigation-content {
    background-color: var(--main-transparent);
}
.theme-dark .list-navigator .widgets button.action {
    border: none;
    background-color: var(--dark-gray);
}
.theme-dark .list-navigator .widgets button.action:hover {
    background-color: var(--light-gray);
}


#page.forum-channel .row .column {
    padding: 4px 0;
}

#page.forum-channel .row.thread .column.type {
    display: none;
    width: 0px;
}

.theme-dark #page.forum-channel .row:not(:last-child) {
    border-bottom: none;
}

.theme-dark #page.forum-channel .row.thread:not(.unread) {
    background: inherit;
}

/* reorder the thread table columns */
#page.forum-channel .row .column.vote {
    order: -2;
    min-width: 40px;
}



/* make the vote buddon cute */
#page.forum-channel button.vote {
    padding: 0px;
    width: 30px;
}
#page.forum-channel button.vote .flex {
    flex-direction: column;
}
#page.forum-channel button.vote .count {
    margin-top: 6px;
}

/* hide the preview pic border */
#page.forum-channel .row .column.subject .subject-media-preview {
    border: none;
}
/* downsize and slight recolor of preview pic */
#page.forum-channel .row .column.subject .subject-media-preview .default-preview {
    height:60%;
    filter: grayscale(100%);
}


/* move subject text up a bit */
#page.forum-channel .row .column.subject .subject-content {
    align-self: auto;
}
/* downsize author text */
#page.forum-channel .row .column.subject .subject-content .subject-content-footer {
    font-size: .7rem;
}
#page.forum-channel .row .column.subject .subject-content .thread-flag {
    margin-bottom: 0px;
}

#page.forum-channel .row .column.subject .subject-content .thread-subject {
    margin-bottom: 0px;
}

#page.forum-channel .row .column.subject .new-replies-link {
    margin: 0px 4px 0px;
    border: none;
}



/*THREAD VIEW
*/



.theme-dark .forum-thread-item > .content .forum-thread-subject {
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: inherit;
    font-family: Roboto,sans-serif;
    color: var(--font-main);
}
.theme-dark #page.forum-thread .content-block.text {
    color: var(--font-main);
}
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item .content-block.text {
    color: var(--font-main);
}

.theme-dark .content-block:not(.text) {
    border:none;
    background-color: transparent;
    justify-content: start;    
}
.content-block:not(.quote) .block-icon {
    display:none;    
}
.theme-dark .content-block.image .content-block-media {
    border: none;
    background-color: transparent;
}
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item {
    background-color: var(--dark-gray);
}
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item .depth-odd {
    background-color: var(--darker-gray);
}

.forum-thread-item > .content .content-footer > .actions > .group {
    border: none;
}



#page.forum-thread .content-block.text {
    max-width: 60em;
}
#page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item.depth-0 {
    margin: 0 15px 10px;
}

.forum-thread-item.style-type-small {
    padding: 4px 0 4px 14px;
}

.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item {
    padding-top: 8px;
}

.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-header .thread-control-bar {
    background-color: transparent;
    padding: 2px 2px 2px 20px;
    margin-top: 0px;
    justify-content: right;
}
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-empty {
    background-color: var(--dark-gray);
}



.forum-thread-item .toggle-collapse-gutter {
    width: 18px;
}

.forum-thread-item .forum-thread-item-children-replies {
    margin-top: 0px;
    width: calc(100% + 22px);
    -webkit-transform: translateX(-26px);
    transform: translateX(-26px);
}

.theme-dark .forum-thread-item.style-type-small:not(.depth-0) {
    border-left: none;
}

.forum-thread-item .toggle-collapse-gutter .toggle-collapse {
    margin: 0px;
    padding: 2px;
}
.forum-thread-item.style-type-small > .gutter {
    width: 30px;
    margin-right: 4px;
}



.theme-dark button.vote {
    background-color: inherit;
    border: none;
}
.theme-dark button.vote:hover:not(.no-border) {
    filter: brightness(2);
}
.theme-dark button.vote.active {
    background-color: inherit;
    filter: hue-rotate(180deg) brightness(1.25) saturate(3);
}
.theme-dark button.vote.active:hover:not(.no-border) {
    background-color: inherit;
    filter: hue-rotate(160deg) brightness(.75) saturate(2);
}
.theme-dark button.vote.disabled {
    background-color: inherit;
    border: none;
    filter: grayscale(100%);
}
.theme-dark button.vote.disabled:hover:not(.no-border) {
    background-color: inherit;
    border: none;
    filter: grayscale(100%);
}

button.vote.vertical {
    width: 24px;
    height: 36px;
    margin-left: 4px;
}


.theme-dark .forum-thread-item .action, .theme-dark .forum-thread-item .forum-actions-button > .btn {
    background-color: var(--main-darker);
    border-color: var(--dark-gray);
}
.theme-dark .forum-thread-item .action:hover:not(.open), .theme-dark .forum-thread-item .forum-actions-button > .btn:hover:not(.open) {
    border-color: var(--light-gray);
}

.theme-dark .thread-flag.thread-flag-label {
    background-color: var(--light-gray);
}
.theme-dark .thread-flag.thread-flag-label:hover {
    background-color: var(--main-darker);
}

.theme-dark .forum-thread-item-tracked-reference {
    background-color: var(--main-darker);
    border-color: var(--dark-gray);
}
.theme-dark .forum-thread-item-tracked-reference:hover {
    border-color: var(--light-gray);
}


.theme-dark .action-button--outline {
    border-color: var(--main-color);
}
.theme-dark .action-button--outline:hover {
    border-color: var(--lighter-gray);
}


/* CHAT --------------------
*/




#app.theme-dark #app-content #page.lobby #page-main .lobby-header {
    border: none;
    background: var(--main-color);
}
#app.theme-dark #app-content #page.lobby #page-main .messages-list {
    background: var(--main-color);
}
.theme-dark .message-item > .content > .bottom .body {
    background: transparent;
    color: var(--font-main);
}
.theme-dark .message-item.status-default:not(.edit-mode).reaction-open, .theme-dark .message-item.status-default:not(.edit-mode):active, .theme-dark .message-item.status-default:not(.edit-mode):hover {
    background: var(--main-darker);
}
#app.theme-dark #app-content #page.lobby .lobby-footer {
    background: var(--dark-gray);
    color: var(--font-main);
}
#app.theme-dark #app-content #page.lobby .lobby-footer > .top {
    background: var(--dark-gray);
    color: var(--font-main);
}
#app.theme-dark #app-content #page.lobby .lobby-footer > .message-input {
    background: var(--dark-gray);
    padding-top: 0px;
}
.theme-dark .message-input .message-row > .input {
    background: var(--main-color);
}
.theme-dark .message-input .message-row > .input .draft-extend {
    color: var(--font-main);
}
.theme-dark .message-media {
    border-color: var(--dark-gray);
}
.theme-dark .message-media > .handle {
    background: var(--dark-gray);
}
.theme-dark .message-media > .handle > .provider:hover {
    background: var(--light-gray);
    color: var(--font-main);
}
.theme-dark .message-media-rich, .theme-dark .message-media figure {
    background: var(--dark-gray);
}
.theme-dark .message-item.status-default:not(.edit-mode).reaction-open .message-media .handle, .theme-dark .message-item.status-default:not(.edit-mode).reaction-open .message-media .message-media-rich, .theme-dark .message-item.status-default:not(.edit-mode).reaction-open .message-media figure, .theme-dark .message-item.status-default:not(.edit-mode):active .message-media .handle, .theme-dark .message-item.status-default:not(.edit-mode):active .message-media .message-media-rich, .theme-dark .message-item.status-default:not(.edit-mode):active .message-media figure, .theme-dark .message-item.status-default:not(.edit-mode):hover .message-media .handle, .theme-dark .message-item.status-default:not(.edit-mode):hover .message-media .message-media-rich, .theme-dark .message-item.status-default:not(.edit-mode):hover .message-media figure {
    background: var(--darker-gray);
}
.theme-dark .public-DraftEditor-content pre, .theme-dark pre {
    background: var(--light-gray);
    border: none;
    color: var(--font-main);
}
.theme-dark .message-item > .actions .btn {
    border-color: var(--shadow);
    background-color: var(--shadow);
    color: var(--font-main);
}
.theme-dark .message-item > .actions .btn:hover:not(.delete):only-child {
    border-right-color: var(--light-gray);
}
.theme-dark .message-item > .actions .btn:hover:not(.delete) {
    border-color: var(--light-gray);
    background-color: var(--shadow);
    color: var(--font-main);
}
.theme-dark .message-item > .actions .btn .icon use {
    fill: var(--font-main);
}
.theme-dark .message-item > .actions .btn:hover .icon use {
    fill: var(--font-main);
}

/* chat messages
*/
.message-item {
    padding-top: 4px;
    padding-bottom: 2px;
    max-width: 60rem;
}

.message-item:not(.type-small) {
    border-top: none;
    padding-top: 8px;
}

.messages-list .separator {
    margin-top: 5px;
    height: 10px;
}

/* message of the day
*/
.lobby-message {
    --lobby-message-max-height: none !important;
    --lobby-message-border-color: none;
    max-width: 60rem;
}
.lobby-message__wrapper {
    background: var(--darker-gray);
    padding: 6px 6px;
}

