:root {
    --main-color:#262626;
    --main-transparent: rgba(38,38,38,.7);
    --light-gray:#404040;
    --dark-gray:#161616;
    --darker-gray:#121212;
    
    --font-main:#DEDEDE;
    --font-dark:#C8C8C8;
    
    
}


/* Global----------------
*/

/* recolor */
.body {
    background-color: var(--main-color);
    font-family: Roboto,sans-serif;
    color: var(--font-main);
}

.theme-dark #page #page-main {
    background-color: var(--main-color);
}
.theme-dark #page #page-main .page-header .page-header-inner {
    background-color: var(--light-gray);
    border: none;
}
.theme-dark .breadcrumb {
    background-color: var(--main-color);
    border: none;
}

#app #app-header {
    height: 0px;
}
#app #app-content {
    height: 100%;
}


.nickname {
    font-family: Roboto,sans-serif;
    font-size: 1rem;
}

.member-avatar .avatar {
    border-radius: 20px;
    border: none;
}
.message-item.highlighted .member-avatar .avatar {
    border: 1px solid;
}







/* SIDEBAR -----------------
*/
#sidebar{
    padding-top: 5px;
}
.sidebar-list .sidebar-item {
    padding: 2px 2px;
}


/* FORUMS  -----------------
*/

/* BOARD VIEW
*/


/* recolor */
.theme-dark .forum-label {
    background: var(--light-gray);
    color: var(--font-dark);
}
.theme-dark #page.forum-channel .row .column.subject .subject-content a.thread-subject {
    color: var(--font-main);
}
.theme-dark #page.forum-channel .row .column.subject .subject-media-preview {
    background-color: var(--main-color);
}




#page.forum-channel .channel-header {
    padding-bottom: 0px
}

#page.forum-channel .row.columns-header.sticky.active {
    visibility: hidden;
}
.theme-dark #page.forum-channel .row.columns-header {
    visibility: hidden;
}
.theme-dark #page.forum-channel .row.columns-header .column .btn.refresh {
    background-color: var(--light-gray);
    color: var(--font-main);
    visibility: visible !important;
    -webkit-transform: translateX(-64px) translateY(-106px);
    transform: translateX(-64px) translateY(-106px);
}

/* page bottom nagivator thing*/
.list-navigator {
    top: 0px;
    margin-bottom: 0px;
}

.list-navigator .bar {
    visibility: hidden;
    flex: unset;
    width: 45%;
}
.list-navigator .widgets .navigation .left-triangle {
    visibility: hidden;
}
.list-navigator .widgets .navigation .navigation-progress {
    order: 1;
}
.list-navigator .widgets .navigation .navigation-progress::before {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}
.list-navigator .widgets .navigation .navigation-progress .navigation-progress-bar::before {
    -webkit-transform: skew(0deg);
    transform: skew(0deg);
}
.theme-dark .list-navigator .widgets .navigation .navigation-content {
    background-color: var(--main-transparent);
}



#page.forum-channel .row .column {
    padding: 4px 0;
}

#page.forum-channel .row.thread .column.type {
    display: none;
    width: 0px;
}

.theme-dark #page.forum-channel .row:not(:last-child) {
    border-bottom: none;
}

.theme-dark #page.forum-channel .row.thread:not(.unread) {
    background: inherit;
}

/* reorder the thread table columns */
#page.forum-channel .row .column.vote {
    order: -2;
    min-width: 40px;
}



/* make the vote buddon cute */
#page.forum-channel button.vote {
    padding: 0px;
    width: 30px;
}
#page.forum-channel button.vote .flex {
    flex-direction: column;
}
#page.forum-channel button.vote .count {
    margin-top: 6px;
}

/* hide the preview pic border */
#page.forum-channel .row .column.subject .subject-media-preview {
    border: none;
}
/* downsize and slight recolor of preview pic */
#page.forum-channel .row .column.subject .subject-media-preview .default-preview {
    height:60%;
    filter: grayscale(100%);
}


/* move subject text up a bit */
#page.forum-channel .row .column.subject .subject-content {
    align-self: auto;
}
/* downsize author text */
#page.forum-channel .row .column.subject .subject-content .subject-content-footer {
    font-size: .7rem;
}
#page.forum-channel .row .column.subject .subject-content .thread-flag {
    margin-bottom: 0px;
}

#page.forum-channel .row .column.subject .subject-content .thread-subject {
    margin-bottom: 0px;
}

#page.forum-channel .row .column.subject .new-replies-link {
    margin: 0px 4px 0px;
    border: none;
}


/*THREAD VIEW
*/
.theme-dark .forum-thread-item > .content .forum-thread-subject {
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: inherit;
    font-family: Roboto,sans-serif;
    color: var(--font-main);
}
.theme-dark #page.forum-thread .content-block.text {
    color: var(--font-main);
}
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item .content-block.text {
    color: var(--font-main);
}

.theme-dark .content-block:not(.text) {
    border:none;
    background-color: transparent;
    justify-content: start;    
}
.content-block:not(.quote) .block-icon {
    display:none;    
}
.theme-dark .content-block.image .content-block-media {
    border: none;
    background-color: transparent;
}
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item {
    background-color: var(--dark-gray);
}
.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item .depth-odd {
    background-color: var(--darker-gray);
}

.forum-thread-item > .content .content-footer > .actions > .group {
    border: none;
}



#page.forum-thread .content-block.text {
    max-width: 60em;
    
}
#page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item.depth-0 {
    margin: 0 15px 10px;
}

.forum-thread-item.style-type-small {
    padding: 4px 0 4px 14px;
}

.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-replies .forum-thread-item {
    padding-top: 8px;
}

.theme-dark #page.forum-thread .page-content .forum-thread .forum-thread-header .thread-control-bar {
    background-color: inherit;
    padding: 2px 2px 2px 20px;
    margin-top: 0px;
    justify-content: right;
}




.forum-thread-item .toggle-collapse-gutter {
    width: 18px;
}

.forum-thread-item .forum-thread-item-children-replies {
    margin-top: 0px;
    width: calc(100% + 22px);
    -webkit-transform: translateX(-26px);
    transform: translateX(-26px);
}

.theme-dark .forum-thread-item.style-type-small:not(.depth-0) {
    border-left: none;
}

.forum-thread-item .toggle-collapse-gutter .toggle-collapse {
    margin: 0px;
    padding: 2px;
}
.forum-thread-item.style-type-small > .gutter {
    width: 30px;
    margin-right: 4px;
}



.theme-dark button.vote {
    background-color: inherit;
    border: none;
}
.theme-dark button.vote:hover:not(.no-border) {
    filter: brightness(2);
}
.theme-dark button.vote.active {
    background-color: inherit;
    filter: hue-rotate(180deg) brightness(1.25) saturate(3);
}
.theme-dark button.vote.active:hover:not(.no-border) {
    background-color: inherit;
    filter: hue-rotate(160deg) brightness(.75) saturate(2);
}
.theme-dark button.vote.disabled {
    background-color: inherit;
    border: none;
    filter: grayscale(100%);
}
.theme-dark button.vote.disabled:hover:not(.no-border) {
    background-color: inherit;
    border: none;
    filter: grayscale(100%);
}

button.vote.vertical {
    width: 24px;
    height: 36px;
    margin-left: 4px;
}

/* CHAT --------------------
*/
/* chat messages
*/
.message-item {
    padding-top: 4px;
    padding-bottom: 2px;
    max-width: 60rem;
}

.message-item:not(.type-small) {
    border-top: none;
    padding-top: 8px;
}

.messages-list .separator {
    margin-top: 5px;
    height: 10px;
}

/* message of the day
*/
.lobby-message {
    --lobby-message-max-height: none !important;
    --lobby-message-border-color: none;
    max-width: 60rem;
}
.lobby-message__wrapper {
    padding: 6px 6px;
}
